.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-sans);
  line-height: 1.5;
  color: var(--theme-color);
  background-color: var(--theme-background-color);
}
@media screen and (max-width: 540px){
  .main {
    max-width: 100%;
    padding: 20px;
  }
}

@media screen and (min-width: 541px){
  .main {
    width: 45rem;
  }
}
