.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: var(--space-5);
}

.navbar__nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.logo {
  font-size: var(--font-size-lg);
  font-weight: 900;
}

@media (min-width: 720px) {
  .navbar__nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar__nav__item {
    padding-right: 7.5px;
  }
}
